**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
!*.tfvars.example
!environments/**/infra.tfvars.json
!environments/**/platform.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.env
.env.*
!.env.example
*backend.hcl
!*.backend.hcl.example
.DS_Store
Thumbs.db
